* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    

}
section{
    padding-top: 48px;
    padding-bottom: 48px;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom:1px solid black;
}

#loglink {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}

h1,
h2,
h3,
h4,
h5,
h6,
#loglink {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p{
    color: rgb(164, 164, 164);
    width: 640px;
}
h1{
    font-size: 3rem;
}

.button-primary{
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 48px;
    transition: all 0.4s ease-in;
   

}
.button-secondary{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 48px;
    border: 1px solid black;
    transition: all 0.4s ease-in;
}
#button-holder{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
nav{
    display: none;
}
.button-primary:hover{
  background-color: rgb(40, 38, 38);
  
}
.button-secondary:hover{
    background-color: rgb(230, 201, 201);
}
 #section-header{
    padding-top: 1rem;
    
}
 #section-about{
    
    background-color: rgb(225, 217, 217);
}
.blog img{
    width: 100%;
}
.blog{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 24px;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.blog p{
    font-size: 0.9rem;
}
.bloglist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




@media only screen and (min-width:600px) {
    nav{
        display: none;
    }
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:770px) {
    #menubutton {
        display: none;
    }
    .bloglist{
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 24px;
        list-style: none;
    }

    nav a {
        text-decoration: none;
        color: gray;
    }
}

@media only screen and (min-width:960px) {
    .bloglist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width:1200px) {
    .bloglist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}